
@import './assets/css/boxes.css';
@import './assets/css/nav.css';
@import './assets/css/anagrafica.css';
@import './assets/css/specifiche.css';

body * {
    font-family:  "Roboto", sans-serif, ui-sans-serif;
}
* {
    margin: 0;
    box-sizing: border-box;
}

.navbarup {
    width: 100%;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.center {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}

.center h1 {
    text-transform:uppercase;
    text-align: center;
    font-style: normal;
    font-weight:bolder;
    font-size: 45px;
    color: #000;
}

.center h2 {
    margin: revert;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: #000;
}


.red {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 55px;
    background-color: #d30505;
}

.orange{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 55px;  
    background-color: #fa6c06; 
}

.code-patient{
    color:white;
    font-family: "Roboto", sans-serif, ui-sans-serif;
    margin-top: 15px;
    float: left;
    margin-left: 15px;
}

.emergency{
    color:white;
    font-family: "Roboto", sans-serif, ui-sans-serif;
    margin-top: 15px;
    float: right;
    margin-right: 40px;
}


.cyan{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 55px;  
    background-color: #1a7fa0; 
}


.green{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 55px;  
    background-color: #057e05; 
}

.white{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 55px;  
    background-color: white; 
    border: 1px solid black;
}
.white > .code-patient{
    color: black;
    font-family: "Roboto", sans-serif, ui-sans-serif;
    margin-top: 15px;
    float: left;
    margin-left: 15px;
}

.white > .emergency{
    color: black;
    font-family: "Roboto", sans-serif, ui-sans-serif;
    margin-top: 15px;
    float: right;
    margin-right: 40px;
}

@media screen and (max-width: 768px) {
    footer{
        display: none;
    }
    .center{
        width: 100%;
        height: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 2%;
    }
    .center h1 {
        text-transform: uppercase;
        text-align: center;
        font-style: normal;
        font-weight: bolder;
        font-size: 30px;
        color: #000;
    }
    .center h2{
        margin-top: 4%;
    }
    .burger {
        width: 10%;
        float: right;
        margin-right: 20%;
        margin-top: 5.2%;
        position: absolute;
        top: 8%;
        right: 1%;
        cursor: pointer;
      }
    
      .open_menu {
        position: relative;
        z-index: 20;
        width: 20%;
        background: #9ebfb4;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        top: 72px;
        left: 75%;
      }
}



