img{
    cursor: pointer;
}

h3 {
    position: absolute;
    top: 130px;
    width: 186px;
    height: 30px;
    left: 160px;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000;
}

.icon-print > #save {
    position: absolute;
    width: 90px;
    height: 40px;
    right: 10%;
    top: 128px;
    background: rgba(158, 191, 180, 0.5);
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}
.icon-print{
    margin-top: -2%;
}
.icon-print > img {
    position: relative;
    height: 5%;
    left: 105%;
    cursor: pointer;
    margin-top: -8.5%;
}

.CF > input {
    width: 100%;
    height: 45px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 15px;
}

#important {
    margin-top: 10px;
    margin-bottom: 10px;
}

.NAME > input {
    width: 300px;
    height: 45px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 15px;
}

.SURNAME > input {
    width: 248px;
    height: 45px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-left: 315px;
    margin-top: -60px;
    float: left;
}


.STREET-NUM > input {
    width: 20%;
    height: 45px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: -60px;
    margin-bottom: 15px;
    float: left;
    margin-left: 69%;
}

.STATE > INPUT {
    width: 248px;
    height: 45px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-left: 315px;
    margin-top: -60px;
    float: left;
}

.REGION > input {
    width: 300px;
    height: 45px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 15px;
}

.CITY > input {
    width: 248px;
    height: 45px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-left: 315px;
    margin-top: -60px;
    float: left;
}

.BIRTH-DAY > input {
    width: 300px;
    height: 45px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 15px;
}

.RECIDENCY > input {
    width: 65%;
    height: 45px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 15px;
} 

.BLOOD-TYPE > select {
    width: 35%;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 15px;
}

.RH > select {
    width: 25%;
    height: 45px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-left: 40%;
    margin-top: -60px;
    float: left;
}

.sex > select{
    width: 20%;
    height: 45px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-left: 69%;
    margin-top: -60px;
    float: left;
}


.pharmacy {
    width: 629px;
    margin-left: 0%;
}


.back {
    width: 6%;
    margin-top: 1%;
    margin-left: -43%;
    background: none;
    border-style: none;
    flex: auto;
}


.next {
    margin-right: -20%;
    width: 6%;
    float: right;
    margin-top: 1%;
    background: none;
    border-style: none;
    flex: auto;
}


.compile{
    margin-top: 6%;
    margin-left: 13%;
    float: left;
    flex: 50%;
    margin-bottom: 65px;
}

@media screen and (max-width: 768px) {
    h3 {
        position: absolute;
        top: 18%;
        width: 186px;
        height: 30px;
        left: 50px;
        font-style: normal;
        font-weight: 300;
        font-size: 26px;
        line-height: 30px;
        text-transform: uppercase;
        color: #000;
    }

    .icon-print > #save {
        position: absolute;
        width: 10%;
        height: 6%;
        right: 5%;
        top: 17%;
        background: rgba(158, 191, 180, 0.5);
        border: 1px solid #000000;
        border-radius: 5px;
        cursor: pointer;
    }

    
    .icon-print  >img{
        display: none;
    }

    .compile {
        width: 83%;
        margin-top: 35%;
        margin-left: 9%;
        float: left;
        flex: 50%;
        margin-bottom: 65px;
    }

    #important {
        font-size: 87%;
        margin-top: -13px;
        margin-bottom: 1%;
        width: 89%;
    }

    .CF > input {
        width: 100%;
        height: 45px;
    }

    .NAME > input, .BIRTH-DAY > input, .REGION > input  {
        width: 48%;
        height: 45px;
    }
    }

    .SURNAME > input, .STATE > input, .CITY > input {
        margin-left: 52%;
        width: 48%;
        height: 45px;
        margin-top: -60px;
    }

    .RECIDENCY > input{
        width: 75%;
        height: 45px;
    }

    .STREET-NUM > input{
        width: 20%;
        height: 45px;
        margin-left: 79%;
        margin-top: -60px;
    }

    .RH > select {
        width: 20%;
        height: 45px;
        margin-left: 52%;
        margin-top: -60px;
    }

    .sex > select {
        width: 20%;
        height: 45px;
        border: 1px solid #000000;
        border-radius: 5px;
        margin-left: 79%;
        margin-top: -60px;
        float: left;
    }

    .BLOOD-TYPE > select{
        width: 45%;
        height: 45px;
    }
    .next {
        margin-right: -14%;
        width: 14%;
        float: right;
        margin-top: -50%;
        background: none;
        border-style: none;
        flex: auto;
    }

    .back {
        margin-right: 105%;
        margin-top: -50%;
        background: none;
        border-style: none;
        flex: auto;
        float: right;
        width: 14%;
    }

    .container{
        height: inherit;
    }


@media only screen and (max-width:1200px) and (min-width: 768px) {
    .icon-print >img {
        left: 75%;
    }

    .compile {
        margin-top: 5%;
        margin-left: 10%;
        float: left;
        flex: 50%;
        margin-bottom: 65px;
    }
    .next {
        margin-right: 0%;
        width: 5%;
        margin-top: 1%;
    }

    .back {
        width: 5%;
        margin-top: 1%;
        margin-left: -16%;
    }
}

@media only screen and (max-width:1900px) and (min-width: 1600px) {
    .compile {
            margin-top: 5%;
            margin-left: 0%;
            float: left;
            flex: 50%;
            margin-bottom: 65px;
    }
    .next {
        margin-right: -150%;
        width: 5%;
        margin-top: 1%;
    }

    .back {
        width: 5%;
        margin-top: 1%;
        margin-right: 150%;
    }

   
}

@media only screen and (max-width:2000px) and (min-width: 1600px) {
    .icon-print >img {
        left: 130%;
    }
}

@media only screen and (max-width:1430px) and (min-width: 1250px) {
    .icon-print >img {
        left: 110%;
    }
}

@media only screen and (max-width:1251px) and (min-width: 1000px) {
    .icon-print >img {
        left: 90%;
    }
}
@media only screen and (min-width:768px) and (max-width: 1600px) {
    .next {
        margin-right: -104%;
        width: 5%;
        margin-top: 1%;
    }

    .back {
        width: 5%;
        margin-top: 1%;
        margin-right: 111%;
    }
}