.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.boxes > .dropdown > .btn {
    border-style: none;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 3rem;
    margin-right: 2rem;
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-color: #d30505;
}

.boxes > .dropdown1 > .btn {
    border-style: none;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 3rem;
    margin-right: 2rem;
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-color: #fa6c06;
}

.boxes > .dropdown2 > .btn {
    border-style: none;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 3rem;
    margin-right: 2rem;
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-color: #1a7fa0;
}

.boxes > .dropdown3 > .btn {
    border-style: none;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 3rem;
    margin-right: 2rem;
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-color: #057e05;
}

.boxes > .dropdown4 > .btn {
    border: 1px solid;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 3rem;
    margin-right: 2rem;
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-color: white;
}

.boxes > .dropdown > .btn > span {
    font-family: "Roboto", sans-serif, ui-sans-serif;
    font-weight: normal;
    font-style: normal;
    width: inherit;
    position: absolute;
    bottom: 55px;
    left: 0;
    color: white;
    font-size: 28px;
}

.boxes > .dropdown1 > .btn > span {
    font-family: "Roboto", sans-serif, ui-sans-serif;
    font-style: normal;
    font-weight: normal;
    width: inherit;
    position: absolute;
    bottom: 55px;
    left: 0;
    color: white;
    font-size: 28px;
}

.boxes > .dropdown2 > .btn > span {
    font-family: "Roboto", sans-serif, ui-sans-serif;
    font-style: normal;
    font-weight: normal;
    width: inherit;
    position: absolute;
    bottom: 55px;
    left: 0;
    color: white;
    font-size: 28px;
}

.boxes > .dropdown3 > .btn > span {
    font-family: "Roboto", sans-serif, ui-sans-serif;
    font-style: normal;
    font-weight: normal;
    width: inherit;
    position: absolute;
    bottom: 55px;
    left: 0;
    color: white;
    font-size: 28px;
}

.boxes > .dropdown4 > .btn > span {
    font-family: "Roboto", sans-serif, ui-sans-serif;
    font-style: normal;
    font-weight: normal;
    width: inherit;
    position: absolute;
    bottom: 55px;
    left: 0;
    color: #000;
    font-size: 28px;
}



.boxes > .dropdown > .btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) ;
}

.boxes > .dropdown1 > .btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.boxes > .dropdown2 > .btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.boxes > .dropdown3 > .btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.boxes > .dropdown4 > .btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    color: white;
    margin: 0.5px;
    font-family: "Roboto", sans-serif, ui-sans-serif;
    display: none;
    position: absolute;
    background-color: #d30505;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown-content1 {
    color: white;
    font-family: "Roboto", sans-serif, ui-sans-serif;
    display: none;
    position: absolute;
    background-color: #fa6c06;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown1:hover .dropdown-content1 {
    display: block;
}

.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content2 {
    color: white;
    font-family: "Roboto", sans-serif, ui-sans-serif;
    display: none;
    position: absolute;
    background-color:#1a7fa0;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.dropdown3 {
    position: relative;
    display: inline-block;
}

.dropdown-content3 {
    color: white;
    font-family: "Roboto", sans-serif, ui-sans-serif;
    display: none;
    position: absolute;
    background-color: #057e05;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown3:hover .dropdown-content3 {
    display: block;
}

.dropdown4 {
    position: relative;
    display: inline-block;
}

.dropdown-content4 {
    border: 0.1px solid black;
    font-family: "Roboto", sans-serif, ui-sans-serif;
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown4:hover .dropdown-content4 {
    display: block;
}

@media screen and (max-width: 768px) {
    .boxes {
        margin-top: 18%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        }

    .boxes > .dropdown > .btn {
        border-style: none;
        height: 95px;
        width: 95px;
        border-radius: 50%;
        margin-top: 5%;
        position: relative;
        cursor: pointer;
        background-size: cover;
        background-color: #d30505;
    }

    .boxes > .dropdown1 > .btn {
        border-style: none;
        height: 95px;
        width: 95px;
        border-radius: 50%;
        margin-top: 16%;
        position: relative;
        cursor: pointer;
        background-size: cover;
        background-color: #fa6c06;
    }

    .boxes > .dropdown2 > .btn {
        border-style: none;
        height: 95px;
        width: 95px;
        border-radius: 50%;
        margin-top: 16%;
        position: relative;
        cursor: pointer;
        background-size: cover;
        background-color: #1a7fa0;
    }

    .boxes > .dropdown3 > .btn {
        border-style: none;
        height: 95px;
        width: 95px;
        border-radius: 50%;
        margin-top: 16%;
        position: relative;
        cursor: pointer;
        background-size: cover;
        background-color: #057e05;
    }

    .boxes > .dropdown4 > .btn {
        border: 1px solid;
        height: 95px;
        width: 95px;
        border-radius: 50%;
        margin-top: 16%;
        position: relative;
        cursor: pointer;
        background-size: cover;
        background-color: white;
    }

    .boxes > .dropdown > .btn > span {
        font-family: "Roboto", sans-serif, ui-sans-serif;
        font-weight: normal;
        font-style: normal;
        width: inherit;
        position: absolute;
        bottom: 42%;
        left: 0;
        color: white;
        font-size: 20px;
    }

    .boxes > .dropdown1 > .btn > span {
        font-family: "Roboto", sans-serif, ui-sans-serif;
        font-weight: normal;
        font-style: normal;
        width: inherit;
        position: absolute;
        bottom: 42%;
        left: 0;
        color: white;
        font-size: 20px;
    }

    .boxes > .dropdown2 > .btn > span {
        font-family: "Roboto", sans-serif, ui-sans-serif;
        font-weight: normal;
        font-style: normal;
        width: inherit;
        position: absolute;
        bottom: 42%;
        left: 0;
        color: white;
        font-size: 20px;
    }

    .boxes > .dropdown3 > .btn > span {
        font-family: "Roboto", sans-serif, ui-sans-serif;
        font-weight: normal;
        font-style: normal;
        width: inherit;
        position: absolute;
        bottom: 42%;
        left: 0;
        color: white;
        font-size: 20px;
    }

    .boxes > .dropdown4 > .btn > span {
        font-family: "Roboto", sans-serif, ui-sans-serif;
        font-weight: normal;
        font-style: normal;
        width: inherit;
        position: absolute;
        bottom: 42%;
        left: 0;
        color: black;
        font-size: 20px;
    }

    .dropdown-content{
        display: inline;
        margin-top: 12%;
        margin-left: 20%;
        padding: 8px 10px;
    }

    .dropdown:hover .dropdown-content {
        display:inline-block;
    }

    .dropdown-content1{
        display: inline;
        margin-top: 25%;
        margin-left: 20%;
        padding: 8px 10px;
    }

    .dropdown1:hover .dropdown-content1 {
        display:inline-block;
    }

    .dropdown-content2{
        display: inline;
        margin-top: 25%;
        margin-left: 20%;
        padding: 5px 10px;
    }

    .dropdown2:hover .dropdown-content2 {
        display:inline-block;
    }

    .dropdown-content3{
        display: inline;
        margin-top: 25%;
        margin-left: 20%;
        padding: 8px 10px;
    }

    .dropdown3:hover .dropdown-content3 {
        display:inline-block;
    }

    .dropdown-content4{
        display: inline;
        margin-top: 25%;
        margin-left: 20%;
        padding: 8px 10px;
    }

    .dropdown4:hover .dropdown-content4 {
        display:inline-block;
    }    

}



@media only screen and (max-width:950px) and (min-width: 768px) {
    .boxes {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        align-content: center;
    }
}