.header {
    width: 100vw;
    margin: auto;
    height: 3rem;
    background: #9ebfb4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hour {
  position: absolute;
    width: auto;
    height: 41px;
    left: 20px;
    top: 14px;
    font-style: normal;
    font-size: 14px;
    line-height: 28px;
    color: #000;
}

.opnum {
    position: absolute;
    width: 200px;
    height: 28px;
    right: 10px;
    top: 8px;
    font-style: normal;
    font-size: 19px;
    line-height: 28px;
    color: #000;
}

.opnum > p {
  font-size: 15px;
    margin-top: 5px;
}

.burger{
  width: 10%;
    float: right;
    margin-right: 20%;
    margin-top: 5.2%;
    position: absolute;
    top: 8%;
    right: 1%;
    cursor: pointer;
}

.open_menu {
  position: relative;
  z-index: 20;
  width: 12%;
  background: #9ebfb4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 72px;
  left: 84.5%;
  display: inline-block;
  height: max-content;
}


nav a {
    font-style:normal;
    color: #000;
    text-decoration: revert;
}

  
  .link {
    font-weight: bold;
    font-family: "Roboto", sans-serif, ui-sans-serif;
    padding: 0%;
    list-style-type: none;
    margin-left: 18px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
  }

  .link > img {
    float: left;
    width: 20px;
    margin: 1px;
  }
  
  .open_menu.window .link{
    display: block;
  }

  footer {
    height: 5%;
    position: fixed;
    width: 100%;
    left: 0%;
    bottom: 0%;
    background: #9ebfb4;
    text-align: center;
    color: #000;
    
}

footer p{
margin-top: 0.5%;
}

@media only screen and (max-width:1200px) and (min-width: 770px) {
  .open_menu {
    position: relative;
    z-index: 20;
    width: 22%;
    background: #9ebfb4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 72px;
    left: 71.5%;
    display: inline-block;
    height: max-content;
  }
}