form{
    margin-bottom: 65px;
}
.clm-left {
    width: 680px;
    margin-top: 2rem;
    float: left;
    flex: 50%;
}

.clm-right {
    width: 680px;
    margin-top: 1rem;
    padding: 1rem;
    margin-left: auto;
    float: left;
    flex: 50%;
}

.SDC > input {
    width: 560px;
    height: 35px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 15px;
}

.SATURATION > input {
    width: 560px;
    height: 35px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 15px;
}

.PEAK-FLOW > input{
    width: 560px;
    height: 35px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 15px;
}

.TEMPERATURE > input {
    width: 560px;
    height: 35px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 15px;
}

.PRESSURE > input {
    width: 560px;
    height: 35px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 15px;
}

.BREATH-FREQUENCY > input {
    width: 560px;
    height: 35px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 15px;
}

.HEARTH-RATE > input {
    width: 560px;
    height: 35px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 15px;
}

.COVID > input {
    width: 560px;
    height: 35px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 15px;
}



.firstDiag > input {
    width: 560px;
    height: 185px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 50px;
    padding-bottom: 10rem;
    text-align: center;
    flex-wrap: wrap;
}

.note  > input {
    width: 560px;
    height: 185px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 50px;
    padding-bottom: 10rem;
    text-align: center;
    flex-wrap: wrap;
}


#back1 {
        background: none;
        border-style: none;
        flex: auto;
        position: relative;
        width: 2rem;
        float: left;
    /* width: 5%; */
    /* flex: 50%;
    background: none;
    border-style: none; */
}

.icon-print2 > #save {
    position: absolute;
    width: 90px;
    height: 40px;
    right: 23%;
    top: 128px;
    background: rgba(158, 191, 180, 0.5);
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}
.icon-print2{
    margin-top: -2%;
}
.stamp {
    position: relative;
    height: 5%;
    left: 60%;
    cursor: pointer;
    margin-top: -1%;
}

.link2 > a > img {
    margin-left: 5%;
    position:relative;
    width: 2.5%;
    margin-top: -44px;
    float: left;
    flex: 50%;
}

.link2 > h3{
    margin-left: 4%;
    margin-top: 0.2%;
}



@media screen and (max-width: 768px) {
    .SDC{
        width: auto;
    }

    .clm-left {
        margin-left: -4%;
        width: 100%;
        margin-top: 20%;
        float: left;
        flex: 50%;
    }

    .SATURATION , .PEAK-FLOW , .TEMPERATURE, .PRESSURE, .BREATH-FREQUENCY, .HEARTH-RATE,
    .COVID {
        width: auto;
    }

    .SDC > input {
        height: 45px;
        margin-left: 29%;
        margin-top: 8%;
        width: 51%;
        border: 1px solid #000000;
        border-radius: 5px;
    }

    .SATURATION > input , .PEAK-FLOW > input , .TEMPERATURE > input, .PRESSURE > input, .BREATH-FREQUENCY > input, .HEARTH-RATE > input,
    .COVID > input {
        height: 45px;
        margin-left: 29%;
        width: 51%;
        border: 1px solid #000000;
        border-radius: 5px;
    }
  
    .firstDiag > input {
        margin-left: 25%;
        height: 40%;
        width: 60%;
    }
    
    .note  > input {
        margin-left: 25%;
        height: 40%;
        width: 60%;
    }
    .clm-right {
        margin-left: -4%;
        width: 680px;
        float: left;
        flex: 50%;
    }

    #back1 {
        right: 90%;

        background: none;
        border-style: none;
        flex: auto;
        float: right;
        width: 10%;
    }

    .link2 > a > img {
        top: 10%;
        margin-left: 5%;
        position: absolute;
        width: 4%;
        margin-top: 8%;
        float: left;
        flex: 50%;
    }
    
    .link2 > h3{
        margin-left: 5%;
        top: 18%;
    }



    .icon-print2 > #save {
        position: absolute;
        width: 10%;
        height: 6%;
        right: 5%;
        top: 17%;
        background: rgba(158, 191, 180, 0.5);
        border: 1px solid #000000;
        border-radius: 5px;
        cursor: pointer;
    }

    
    .icon-print2  >img{
        display: none;
    }
    
}

@media only screen and (max-width:2000px) and (min-width: 1600px) {
    .link2 > h3 {
        margin-left: 5%;
        margin-top: 0.2%;
    }

    .link2 > a > img {
        margin-left: 0%;
        position: relative;
        width: 2.5%;
        margin-top: -44px;
        float: left;
        flex: 50%;
    }

    .stamp {
        position: relative;
        height: 5%;
        left: 70%;
        cursor: pointer;
        margin-top: -1%;
    }

}